.container-fluid {
    display: flex;
    flex-direction: row;
    margin: 1em 0px;
    flex-wrap: wrap;
}

select,
.dateLocal {
    width: 144px;
    height: 32px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    color: #2a2a2a;
    text-align: left;
    padding: 3px 8px;
    font-family: 'Poppins';
    font-size: 12px;
    margin: 3px 10px;
}

.dateLocal {
    width: 242px;
}

.d-flex {
    display: flex;
    align-items: center;
}

mat-checkbox {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}