<mat-card>
    <div>
        <mat-card-title>CU01 - Denise Adams</mat-card-title>
        <div>
            <mat-card-subtitle>
                +91 - 97916 42473 louis23@gmail.com
            </mat-card-subtitle>
        </div>
        <div>
            <mat-card-subtitle>
                Customer Since : 04-03-2021 Last Order Date : 21-09-2021
            </mat-card-subtitle>
        </div>
    </div>
    <mat-card-actions>
        <button>Active</button>
    </mat-card-actions>
</mat-card>

<mat-tab-group animationDuration="0ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>