.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

select {
    width: 144px;
    height: 32px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    color: #2a2a2a;
    text-align: left;
    padding: 3px 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 3px 10px;
}

.dateLocal {
    width: 242px;
}