@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");
.imageLogo {
    width: 98.65px;
    cursor: pointer;
    height: 61px;
    margin-bottom: 5rem;
}

.container {
    max-width: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1em auto;
}

.title {
    font-family: "Poppins", sans-serif;
    width: 292px;
    height: 45px;
    font-size: 32px;
    font-weight: 700;
    color: #2a2a2a;
}

.spanParent {
    margin-bottom: 2.5rem;
}

.span {
    font-size: 16px;
    width: 329px;
    height: 23px;
    font-family: "Poppins", sans-serif;
}

.span a {
    list-style-type: none;
    text-decoration: none;
    color: #0075be;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 344px;
    height: 56px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    font-family: "Poppins", sans-serif, monospace;
    font-size: 25px;
}

input::placeholder {
    font-size: 14px;
    padding-left: 6px;
}

label {
    color: #2a2a2a;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 4px;
}

label a {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 5px;
    color: #0075be;
    text-decoration: none;
}

.labelLink {
    margin-bottom: 2.5em;
    margin-top: 8px;
}

.btn {
    background-color: #0075be;
    color: white;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    padding: 8px;
    height: 45px;
    font-size: 14px;
    margin-bottom: 1rem;
}

//media Queries
@media (max-width:380px) {
    .container {
        display: flex;
        align-items: center;
    }
    input,
    .btn {
        width: 280px;
        font-size: 12px;
        margin-bottom: 1em;
        padding-left: 2.8em;
    }
}