<!-- Modal -->
<!-- <div class="modalSection">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <h4 class="coupon">Coupon Details</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="Coupon Name">Coupon Name</label>
                        <input type="text" placeholder="Festive Coupon" class="form-control" id="inputPassword">
                    </div>
                    <div>
                        <label for="Coupon id">Code</label>
                        <input type="text" placeholder="ASDER876" class="form-control" id="couponId">
                    </div>
                    <div>
                        <label for="Coupon">Usage Per Usage</label>
                        <input type="text" placeholder="1" class="form-control" id="couponName">
                    </div>
                    <div>
                        <label for="Coupon Name">Upload Pincode Service Coverage Details</label>
                        <input type="file" class="form-file" id="file"><br>
                        <span>only .xls file at 5mb or less</span><br>
                        <span><a routerLink="#" class="link">Download Template</a></span>
                    </div>
                    <div>
                        <label for="Coupon Name">Type</label>
                        <select class="form-control form-select" aria-label="Default select example">
                            <option value="Max Capped Value">Max Capped Value</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div>
                        <button type="button" class="btn" data-bs-dismiss="modal">Create</button>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div> -->