<div class="container">
    <div class="header" *ngFor="let item of Items">
        <div>
            <img class="imageLogo" src="{{item.image}}" alt="logo">
        </div>
        <h2 class="title">{{item.title}}</h2>
        <div class="spanParent">
            <span class="span">
                Enter <a routerLink="/">Email</a> or <a routerLink="/">Mobile Number</a> associated with your account
            </span>
        </div>
    </div>
    <div id="form" *ngFor="let item of Items">
        <form [formGroup]='loginForm'>
            <label for="Email/Phone">{{item.lable1}} </label>
            <span><img class="forgotUser" src="/assets/loginUser.png" alt="user-demo"></span>
            <input id="mail" type="email" formControlName="forgotPassword" placeholder="Enter Email or Mobile Number" [maxLength]="30" [minlength]="3">
            <button type="submit" class="btn" (click)="checkPassword()" [disabled]="!loginForm.valid">Continue</button>

        </form>
    </div>
</div>